# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Archivos y carpetas generados por Flutter y Dart

# Salida de compilación
build/

# Herramientas de Flutter/Dart
.dart_tool/
.packages

# Archivos generados por Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# iOS específicos
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/build/
ios/Runner.xcworkspace/

# Android específicos
android/.gradle/
android/app/build/
android/build/

# Editores e IDEs
.vscode/
.idea/
*.iml

# Archivos del sistema
.DS_Store

android/app/.cxx/

#mine
# Ignorar archivos generados por Flutter
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake